* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
.container {
    height: 100%;
    background-image: linear-gradient(to right, #35bbca, #d3dd18);
}
.login-wrapper {
    background-color: #fff;
    width: 358px;
    height: 588px;
    border-radius: 15px;
    padding: 0 50px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
}
.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}
.input-item:placeholder {
    text-transform: uppercase;
}
.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 25px;
    background-image: linear-gradient(to right, #d3dd18, #35bbca);
    color: #fff;
    border: 0ch;
    border-radius: 4px;
}
.sign-up {
    text-align: center;
    line-height: 88px;
}
.msg{
    text-align: center;
    font-size: 14px;
}
.error{
    color: red;
    
}
a {
    text-decoration-line: none;
    color: #35bbca  ;
}

.login-footer{
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 138px;
}